In [1]:
import requests
import lxml
from bs4 import BeautifulSoup
import pandas as pd

# Web Scraping from a single page

website='https://www.coursera.org/courses?query=python'

In [3]:
response=requests.get(website)

In [4]:
soup=BeautifulSoup(response.content,'html.parser')

In [5]:
results=soup.find_all('div',{'class':"card-content"})

In [6]:
len(results)

20

### Finding Data Needed

In [7]:
results[0].find('h2').get_text()

'Python for Everybody'

In [8]:
results[0].find('span').get_text()

'University of Michigan'

In [9]:
results[0].find('span',{'class':'ratings-count'}).get_text()

'(245,693)'

In [10]:
results[0].find('span',{'class':'ratings-text'}).get_text()

'4.8'

In [11]:
results[0].find('span',{'class':'enrollment-number'}).get_text()

'2.7m'

### Creating empty Lists for Data

In [12]:
course=[]
university=[]
enrollments=[]
ratings=[]
overall_students=[]

### Getting Data Rquired

In [13]:
for result in results:
    try:
        course.append(result.find('h2').get_text())
    except:
        course.append('n/a')
    try:
        university.append(result.find('span').get_text())
    except:
        university.append('n/a')
    try:
        enrollments.append(result.find('span',{'class':'ratings-count'}).get_text())
    except:
        enrollments.append('n/a')
    try:
        ratings.append(result.find('span',{'class':'ratings-text'}).get_text())
    except:
        ratings.append('n/a')
    try:
        overall_students.append(result.find('span',{'class':'enrollment-number'}).get_text())
    except:
        overall_students.append('n/a')

### Getting Data into Data Frame

In [15]:
courses_catalogue=pd.DataFrame({'course':course,
'university':university,
'enrollments':enrollments,
'ratings':ratings,'overall_students':overall_students})

In [16]:
courses_catalogue

,course,university,enrollments,ratings,overall_students
0,Python for Everybody,University of Michigan,"(245,693)",4.8,2.7m
1,Google IT Automation with Python,Google,"(28,538)",4.7,610k
2,Python 3 Programming,University of Michigan,"(18,373)",4.7,350k
3,Crash Course on Python,Google,"(23,158)",4.8,530k
4,Data Science Fundamentals with Python and SQL,IBM,"(44,038)",4.6,580k
5,Applied Data Science with Python,University of Michigan,"(31,473)",4.5,800k
6,IBM Data Science,IBM,"(88,611)",4.6,1.1m
7,Programming for Everybody (Getting Started wit...,University of Michigan,"(206,758)",4.8,2.5m
8,"Python for Data Science, AI & Development",IBM,"(25,459)",4.6,390k
9,Introduction to Programming with Python and Java,University of Pennsylvania,(687),4.4,38k
10,Bachelor of Science in Computer Science,University of London,n/a,n/a,n/a
11,Python Basics,University of Michigan,"(14,848)",4.8,310k
12,IBM Data Analyst,IBM,"(46,477)",4.6,730k
13,IBM DevOps and Software Engineering,IBM,"(28,095)",4.6,480k
14,Statistics with Python,University of Michigan,"(2,706)",4.6,110k
15,Data Science Foundations: Data Structures and ...,University of Colorado Boulder,(123),4.6,13k
16,Django for Everybody,University of Michigan,"(1,834)",4.7,74k
17,Python for Cybersecurity,Infosec,(139),4.4,6.9k
18,Introduction to Scripting in Python,Rice University,"(3,789)",4.7,110k
19,Introduction to Python Programming,University of Pennsylvania,(474),4.4,25k

### Looping through multipe pages

In [22]:
course=[]
university=[]
enrollments=[]
ratings=[]
overall_students=[]

for i in range(1,46):
    website='https://www.coursera.org/courses?query=python&page=' + str(i) + '&index=prod_all_launched_products_term_optimization'
    response=requests.get(website)
    soup=BeautifulSoup(response.content,'html.parser')
    results=soup.find_all('div',{'class':"card-content"})
    
    for result in results:
        try:
            course.append(result.find('h2').get_text())
        except:
            course.append('n/a')
        try:
            university.append(result.find('span').get_text())
        except:
            university.append('n/a')
        try:
            enrollments.append(result.find('span',{'class':'ratings-count'}).get_text())
        except:
            enrollments.append('n/a')
        try:
            ratings.append(result.find('span',{'class':'ratings-text'}).get_text())
        except:
            ratings.append('n/a')
        try:
            overall_students.append(result.find('span',{'class':'enrollment-number'}).get_text())
        except:
            overall_students.append('n/a')

In [23]:
courses_catalogue=pd.DataFrame({'course':course,
'university':university,
'enrollments':enrollments,
'ratings':ratings,'overall_students':overall_students})

In [24]:
courses_catalogue

,course,university,enrollments,ratings,overall_students
0,Python for Everybody,University of Michigan,"(245,693)",4.8,2.7m
1,Google IT Automation with Python,Google,"(28,538)",4.7,610k
2,Python 3 Programming,University of Michigan,"(18,373)",4.7,350k
3,Crash Course on Python,Google,"(23,158)",4.8,530k
4,Data Science Fundamentals with Python and SQL,IBM,"(44,038)",4.6,580k
...,...,...,...,...,...
876,Getting Started with Tensorflow.js,Coursera Project Network,n/a,n/a,n/a
877,تعرَف على هياكل البيانات في بايثون من خلال الت...,Coursera Project Network,n/a,n/a,n/a
878,أساسيات تحليل البيانات باستخدام بايثون وباندا,Coursera Project Network,n/a,n/a,n/a
879,Master of Science in Management,University of Illinois at Urbana-Champaign,n/a,n/a,n/a
880,Master of Science in Accounting,University of Illinois at Urbana-Champaign,n/a,n/a,n/a

### Saving To Excel

In [25]:
courses_catalogue.to_excel('Courses_Catalogue.xlsx', index=False)